html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #d9a1c5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0px;
}

.display-flex{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.servico{
    border: solid 1px #8b2969;
    margin: 10px;
    width: 50%;
    border-radius: 6px;
}
.preco{
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: bolder;
}
.duracao{
    font-size: 14px;
}

.logo{
    margin: auto;
    justify-content: center;
    padding-top: 10px;
}

.servicos-agendamentos{
    margin: 0px 7% auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse; 
}

button{
    border: 0;
    background-color: #d9a1c5;
    padding: 6px;
}
.btn-agendar{
    margin: 10px;
    padding: 16px;
    
}

h1{
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}
h3{
    padding-left: 30px;
}

img{
    border-radius: 10px;
    margin: auto;
    display: block;
}