<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bem-vindo ao Salão</title>
  <link rel="stylesheet" href="/static/css/style-apresentacao.css" />
</head>
<body>
  <header>
  <div class="header-content">
    <div class="logo">
      <img src="/static/img/LogoSalao2.png" width="300px" />
    </div>
    <div class="auth-buttons">
      <button>Login</button>
      <button>Cadastrar</button>
    </div>
  </div>
</header>
<div class="servicos-container">
  <a href="/servicos" class="btn-servicos">Serviços</a>
</div>

  <main>
    <section class="sobre-salao">
      <h1>Bem-vindo ao Nosso Salão de Beleza</h1>
      <p>
        Nosso salão oferece um ambiente acolhedor e profissionais qualificados para cuidar da sua beleza com excelência.
        Atendemos com horários flexíveis e oferecemos serviços de cabelo, barba, unhas e muito mais.
      </p>
      <p>
        Agende online com facilidade e escolha
