<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ titulo_pagina }}</title>
  <link rel="stylesheet" href="/static/css/style-cadastrar-profissional.css" />
</head>
<body>
  <header>
    <h1>{{ titulo_pagina }}</h1>
  </header>

  <main>
    <form class="form-profissional" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <label>{{ form.nome.label }}</label>
      {{ form.nome(class_='form-control') }}

      <label>{{ form.telefone.label }}</label>
      {{ form.telefone(class_='form-control') }}

      <label>{{ form.email.label }}</label>
      {{ form.email(class_='form-control') }}

      <label>{{ form.senha.label }}</label>
      {{ form.senha(class_='form-control') }}

      <label>{{ form.confirmar_senha.label }}</label>
      {{ form.confirmar_senha(class_='form-control') }}

      <button type="submit">
        {% if titulo_pagina == 'Editar Profissional' %}
          Salvar Alterações
        {% else %}
          Cadastrar
        {% endif %}
      </button>
    </form>
  </main>
</body>
</html>
