<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Perfil do Cliente</title>
  <link rel="stylesheet" href="/static/css/style-perfil-cliente.css" />
</head>
<body>
  <header>
    <div class="logo">
      <img src="/static/img/LogoSalao2.png" width="500px" alt="Logo do Salão" />
    </div>
  </header>

  <main>
    <div class="perfil-cliente">
      <div class="topo-perfil">
        <img src="/static/img/default-user.png" alt="Foto do Cliente" class="foto-perfil" />
        <div class="dados-cliente">
          <h2>{{ cliente.nome }}</h2>
          <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
          <p><strong>Email:</strong> {{ cliente.email }}</p>
        </div>
      </div>

      <form class="form-perfil" method="POST">
        {{ form.hidden_tag() }}

        <label>{{ form.nome.label }}</label>
        {{ form.nome(class_='form-control', value=cliente.nome) }}

        <label>{{ form.telefone.label }}</label>
        {{ form.telefone(class_='form-control', value=cliente.telefone) }}

        <label>{{ form.email.label }}</label>
        {{ form.email(class_='form-control', value=cliente.email) }}

        <button type="submit">{{ form.submit.label }}</button>
      </form>
    </div>
  </main>
</body>
</html>
