<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/style-inicio.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/LogoSalao2.png" width="500px" alt="Logo do Salão">
        </div>
    </header>

    <main>
        <h1>Bem-vindo ao Salão de Beleza</h1>
        <div class="menu-opcoes">
            <a><button class="btn-menu">Agendar Serviço</button></a>
            <a><button class="btn-menu">Histórico de Agendamentos</button></a>
        </div>
    </main>
</body>
</html>
