<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="display-flex">
        <img src="/static/img/LogoSalao2.png" width="500px">
    </div>
    <div class="container">
        <h2>Login</h2>
        <div>
            <div>
                <label for="email">Email</label>
                <input type="email">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password">
            </div>
        </div>
        <div>
            <button>Entrar</button>
            <div class="register">
                Cadastrar
            </div>
        </div>
    </div>
</body>
</html>