<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="display-flex">
        <img src="/static/img/LogoSalao2.png" width="500px">
    </div>
    <div class="container">
        <h2>Login</h2>
        

        <form action="/" method="POST">  
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" name="senha" required>
            </div>
            <button type="submit">Entrar</button> 
        </form>

        <div class="register">
            <a href="/register">Cadastrar</a> 
        </div>
    </div>
</body>
</html>
