<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Início - Profissional</title>
  <link rel="stylesheet" href="/static/css/style-inicio-profissional.css" />
</head>
<body>
  <header>
    <h1>Bem-vindo, {{ current_user.nome }}</h1>
  </header>

  <main>
    <div class="menu-profissional">
      <a href="{{ url_for('profissional_agenda') }}">
        <button>Ver Agenda</button>
      </a>

      <a href="{{ url_for('profissional_agendar') }}">
        <button>Agendar Serviço para Cliente</button>
      </a>
    </div>
  </main>
</body>
</html>
