<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="display-flex">
        <img src="/static/img/LogoSalao2.png" width="500px">
    </div>
    <div class="container">
        <h2>Cadastro</h2>
        
        
        <form action="/register" method="POST">  
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" name="senha" required>
            </div>
            <div>
                <label for="confirmar_senha">Confirmar Senha</label>
                <input type="password" name="confirmar_senha" required>
            </div>
            <button type="submit">Cadastrar</button> 
        </form>

        <div class="register">
            <a href="/">Login</a> 
        </div>
    </div>
</body>
</html>
