<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Serviços</title>
  <link rel="stylesheet" href="/static/css/style-servicos.css" />
</head>
<body>
  <header>
    <div class="logo">
      <img src="/static/img/LogoSalao2.png" width="500px" alt="Logo do Salão">
    </div>
  </header>

  <main>
    <h1>Serviços</h1>

    <div class="search-container">
      <form method="GET">
        <input type="text" name="search" placeholder="Pesquisar serviços..." value="{{ search }}">
        <button type="submit">🔍</button>
      </form>
    </div>

    <div class="lista-servicos">
      {% if servicos %}
        {% for servico in servicos %}
          <div class="servico">
            <div class="info-servico">
              <h3>{{ servico.nome }}</h3>
              <p>{{ servico.descricao }}</p>
              <div class="detalhes">
                <span class="preco">R$ {{ servico.preco }}</span>
                <span class="duracao">{{ servico.duracao }} minutos</span>
              </div>
            </div>
            <a href="{{ url_for('escolher_profissional', servico_id=servico.idServico) }}">
              <button class="btn-agendar">Agendar</button>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p>Nenhum serviço encontrado.</p>
      {% endif %}
    </div>
  </main>
</body>
</html>
